@page
@model DesignPatternsRepo1.Pages.Structural.BridgeModel
@{
}

<h1 class="title is-1 is-spaced"><i class="fa-solid fa-left-right mr-2"></i>Bridge</h1>
<h2 class="subtitle">Decoupling Abstraction from Implementation</h2>
<div class="content">
    Abstraction is ...

    Implementation is ...
    

    <div>
    Text here </div>
<pre>
    <code class="language-ts">
  </code>
  </pre>
    <div class="block">
        Text here
    </div>
</div>

  <bottom-nav next-pointer-word="Next"
                next-icon1="fa-solid fa-circle-question"
                next-icon3="fa-solid fa-arrow-right"
                next-link="Index"
                next-name="TBA"></bottom-nav>
<script>hljs.highlightAll();</script>

Fix link from Adapter to Bridge

Think about putting whole menu on the bottom, disabling link to the one that the page is currently on

новую функцию и постоянно заменяют
