@page
@model DesignPatternsRepo1.Pages.Structural.CompositeModel
@{
}

<h1 class="title is-1 is-spaced"><i class="fa-solid fa-magnifying-glass-arrow-right mr-2"></i>Composite</h1>
<h2 class="subtitle">Working with tree-like components in a uniform way regardless of whether it's a leaf or a container</h2>
<div class="content">

    <div class="block">
        This pattern is used for working with nested-container type of items. It's a uniform way to treat an object
        whether it's another container or actually an item that can do some action.
    </div>
    <div class="block">
        Here's the recipe of all that's needed to implement the pattern:
        <ol>
            <li>General class called "Component" that has basic properties and methods</li>
            <li>Class "Leaf" that accepts an identifier as a parameter (a name in the example case). This class
                can perform a basic operation that is required (just return its name in our example);
            </li>
            <li>Class "Composite" that also takes an identifier as a parameter. It also tracks a collection
                of its children leafs or composites that are assigned to this class. The class can process
                assignments/removals to that collection. The class can als return its name as its
                primary operation. The primary operation on this class also triggers the primary operation on
                each of the children in the collection.
            </li>
        </ol>
    </div>
<pre>
    <code class="language-ts">
  interface ICloneable {
    clone();
  }

  class Marble implements ICloneable {
    size: number;
    color: string;
    constructor(size: number, color: string) {
      this.size = size;
      this.color = color;
    }
    clone(): Marble {
      return new Marble(this.size, this.color);
    }
    displayProperties(): string {
      return `size: ${this.size}; color: ${this.color}`;
    }
  }

  let greenMarble = new Marble(1, "green");
  let redMarble = greenMarble.clone();
  redMarble.color = "red";
  console.log(greenMarble.displayProperties());
  console.log(redMarble.displayProperties());

  //output:
  size: 1; color: green
  size: 1; color: red
  </code>
  </pre>
    <div class="block">
       
    </div>
</div>

<bottom-nav next-pointer-word="Next"
            next-icon1="fa-solid fa-circle-question"
            next-icon3="fa-solid fa-arrow-right"
            next-link="Index"
            next-name="TBA"></bottom-nav>
<script>hljs.highlightAll();</script>