@page
@model DesignPatternsRepo1.Pages.Structural.FlyweightModel
@{
}

<h1 class="title is-1 is-spaced"><i class="fa-solid fa-bowl-rice mr-2"></i>Flyweight</h1>
<h2 class="subtitle">Creating a large number of similar objects while sharing some of their state to save memory</h2>
<div class="content">

    <div class="block">
        In case many objects need to be created and some of their state is the same among them (or groups of them),
        then Flyweight pattern can be used to save memory.
    </div>
    <pre><code class="language-ts">

    </code></pre>
</div>
<bottom-nav next-pointer-word="Next"
            next-icon1="fa-solid fa-circle-question"
            next-icon3="fa-solid fa-arrow-right"
            next-link="Index"
            next-name="TBA"></bottom-nav>
<script>hljs.highlightAll();</script>
