@page
@model DesignPatternsRepo1.Pages.Test1Model
@{
}

@*

    clean up logging
    abstract state
    remove timers
    best time
    reformat code for a better reading
    timed game
*@
<link rel="stylesheet" href="~/css/minesGame.css" />
<div class="is-flex">
    <div class="m-6 is-flex-direction-column" style="min-width:450px;">
        <div id="tbl"></div>
        <div class="mt-6">Game parameters:</div>
        <div class="container is-flex is-flex-direction-row is-align-items-flex-start gap20px">
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                    <input class="input ma-w-120" type="number" id="minesAmountInput" placeholder="Mines">
                    <span class="icon is-small is-left">
                        <i class="fa-solid fa-asterisk"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                    <input class="input ma-w-120" type="number" id="playingFieldWidthInput" placeholder="Width" min="5" max="20">
                    <span class="icon is-small is-left">
                        <i class="fa-solid fa-arrows-left-right"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                    <input class="input ma-w-120" type="number" id="playingFieldHeightInput" placeholder="Height" min="5" max="20">
                    <span class="icon is-small is-left">
                        <i class="fa-solid fa-arrows-up-down"></i>
                    </span>
                </p>
            </div>
            <button class="button" onclick="resetGame()"><i class="fa-solid fa-play mr-3"></i>Play</button>
        </div>
        <div class="mt-6 container is-flex is-flex-direction-row is-align-items-flex-start gap20px">
            <button id="smallHintButton" class="button" onclick="giveHint(false)"><i class="fa-regular fa-hourglass mr-3"></i>Small Hint (+10 seconds penalty)</button>
            <button id="largeHintButton" class="button" onclick="giveHint(true)"><i class="fa-solid fa-triangle-exclamation mr-3"></i>Big Hint (+30 seconds penalty)</button>
        </div>
        <div class="mt-5 container is-flex is-flex-direction-column is-align-items-flex-start gap20px">
            <button id="setSmallEasy" class="button" onclick="smallestAndEasiest()"><i class="fa-solid fa-x"></i><i class="fa-solid fa-s mr-3"></i>Smallest and easiest</button>
            <button id="resetGameParams" class="button" onclick="resetGameParametersAndStartNewGame()"><i class="fa-solid fa-m mr-3"></i>Default game settings</button>
            <button id="setLargeHard" class="button" onclick="largestAndHardest()"><i class="fa-solid fa-x"></i><i class="fa-solid fa-l mr-3"></i>Largest and hardest</button>
        </div>
        <div class="mt-6 container flex-direction-vertical mi-wi-300 is-hidden" id="scoreboardDiv">
            <div>
                <h2><i class="fa-solid fa-flag-checkered mr-3"></i>Scoreboard:</h2>
                <ol id="results" class="ml-3 mt-2"></ol>
            </div>
        </div>
    </div>
    <div class="m-6 container flex-direction-vertical mi-wi-300">
        <div class="mb-2">
            <h2><i class="fa-solid fa-chess-bishop mr-3"></i>Current game:</h2>
        </div>
        <div id="elapsedTime"><i class="fa-regular fa-clock mr-2"></i>Elapsed: <span id="elapsedTimeString"></span></div>
        <div id="remainingTime"><i class="fa-regular fa-clock mr-2"></i>Remaining time: <span id="remainingTimeString"></span></div>
        <label class="checkbox">
            <input id="timedModeSwitch" type="checkbox"/>Timed mode</label>
        <div><i class="fa-solid fa-asterisk mr-2 mt-3"></i> Mines left: <span id="minesLeft"></span></div>
    </div>
</div>

<script src="~/js/minesGame.js" type="text/javascript" language="javascript" />
