@page
@model DesignPatternsRepo1.Pages.Test1Model
@{
}

@*
    Backlog:
    Separate stats into categories
    move stats to the right, under information board
    maybe give more style to the information board
    maybe redo the UI

    changing values in Custom mode does not set the radio button to custom
    if blown up within first 5 seconds, don't add to stats, or add separately
    abstract state
    best time
    reformat code for a better reading
    Penalty time is not counted in the final score if hints are being used
    In countdown mode, it shows remaining time, not actual time taken
*@
<link rel="stylesheet" href="~/css/minesGame.css" />
<div class="is-flex">
    <div class="m-6 is-flex-direction-column" style="min-width:450px;">
        <div id="tbl"></div>
        <div id="tbl_paused" class="is-hidden"></div>
        <div class="mt-6 container is-flex is-flex-direction-row is-align-items-flex-start gap20px">
            <button id="smallHintButton" class="button" onclick="giveHint(false)"><i class="fa-regular fa-hourglass mr-3"></i>Small Hint (+10 seconds penalty)</button>
            <button id="largeHintButton" class="button" onclick="giveHint(true)"><i class="fa-solid fa-triangle-exclamation mr-3"></i>Big Hint (+30 seconds penalty)</button>
        </div>

        @* <div class="container is-flex is-flex-direction-row is-align-items-flex-start gap20px">
        <div class="field">
        <p class="control has-icons-left has-icons-right">
        <input class="input ma-w-120" type="number" id="minesAmountInput" placeholder="Mines">
        <span class="icon is-small is-left">
        <i class="fa-solid fa-asterisk"></i>
        </span>
        </p>
        </div>
        <div class="field">
        <p class="control has-icons-left has-icons-right">
        <input class="input ma-w-120" type="number" id="playingFieldWidthInput" placeholder="Width" min="5" max="20">
        <span class="icon is-small is-left">
        <i class="fa-solid fa-arrows-left-right"></i>
        </span>
        </p>
        </div>
        <div class="field">
        <p class="control has-icons-left has-icons-right">
        <input class="input ma-w-120" type="number" id="playingFieldHeightInput" placeholder="Height" min="5" max="20">
        <span class="icon is-small is-left">
        <i class="fa-solid fa-arrows-up-down"></i>
        </span>
        </p>
        </div>
        <button class="button" onclick="resetGame()"><i class="fa-solid fa-play mr-3"></i>Play</button>
        </div>*@

        <div class="mt-5 container is-flex is-flex-direction-column is-align-items-flex-start gap20px">

            <div class="box">
                <div class="is-size-5 mb-3">Game parameters:</div>
                <div style="min-height:50px;">
                    <label class="radio">
                        <input type="radio" id="chbS" name="parameters" onchange="setGameParameters([5,5,5]);">
                        <i class="fa-solid fa-s mr-3"></i>5Wx5Hx5M
                    </label>
                </div>
                <div style="min-height:50px;">
                    <label class="radio">
                        <input type="radio" id="chbM" name="parameters" checked onchange="setGameParameters([10,10,20]);">
                        <i class="fa-solid fa-m mr-3"></i>10Wx10Hx20M
                    </label>
                </div>
                <div style="min-height:50px;">
                    <label class="radio">
                        <input type="radio" id="chbXL" name="parameters" onchange="setGameParameters([20,20,100]);">
                        <i class="fa-solid fa-l mr-3"></i>20Wx20Hx100M
                    </label>
                </div>
                <div style="min-height:50px;">
                    <div class="container is-flex is-flex-direction-row is-align-items-center gap20px">
                        <label class="radio">
                            <input type="radio" id="chbCustom" name="parameters">
                            Custom
                        </label>

                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                <input class="input ma-w-120" type="number" id="playingFieldWidthInput" placeholder="Width" min="5" max="20" onchange="setGameParamsToCustom();">
                                <span class="icon is-small is-left">
                                    <i class="fa-solid fa-arrows-left-right"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                <input class="input ma-w-120" type="number" id="playingFieldHeightInput" placeholder="Height" min="5" max="20" onchange="setGameParamsToCustom();">
                                <span class="icon is-small is-left">
                                    <i class="fa-solid fa-arrows-up-down"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                <input class="input ma-w-120" type="number" id="minesAmountInput" placeholder="Mines" onchange="setGameParamsToCustom();">
                                <span class="icon is-small is-left">
                                    <i class="fa-solid fa-asterisk"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field"></div>
                    </div>
                </div>
                <div class="mt-3 mr-3" style="min-height:50px;">
                    <label class="checkbox" id="timedModeSwitch">
                        <input type="checkbox" id="chbTimedMode">
                        <i class="fa-solid fa-stopwatch mr-3 ml-3 is-size-3"></i>Timed Mode
                    </label>
                </div>
                <div style="min-height:50px;">
                    <button class="button" style="min-width:120px;" onclick="continueGame()" id="continueGameButton"><i class="fa-solid fa-play mr-3"></i>Resume</button>
                    <button class="button" style="min-width:120px;" onclick="pauseGame()" id="pauseGameButton"><i class="fa-solid fa-pause mr-3"></i>Pause</button>
                    <button class="button" onclick="resetGame()"><i class="fa-solid fa-arrow-rotate-right mr-3"></i>Start new game</button>
                </div>
            </div>
        </div>
        <div class="mt-3" style="max-width:550px;">
            <article class="message is-info">
                <div class="message-header" onclick="toggleInstructions();" style="cursor:pointer;">
                    Instructions
                </div>
                <div class="message-body is-hidden" id="instructionsBody">
                    <div>The objective of the game is to find all the hidden mines in the field. </div>
                    <div class="mt-2">Start by clicking on any cell marked with a question mark. If you're unlucky, you'll hit a mine and you will have to start over</div>
                    <div class="mt-2">If you're lucky, you will open a cell (or a set of cells) that show you how many mines are around them. Then, using logic, you can right-click cells to mark them as mines.</div>
                    <div class="mt-2"><img src="~/static/minesGameResources/minesGame-1.gif" /></div>
                    <div class="mt-2">nce you have the correct amount of mines identified around a cell, you can double-click it to reveal the other hidden cells. </div>
                    <div class="mt-2"><img src="~/static/minesGameResources/minesGame-2.gif" /></div>
                    <div class="mt-2">The game ends when you either identify all mines correctly...</div>
                    <div class="mt-2"><img src="~/static/minesGameResources/minesGame-3.gif" /></div>
                    <div class="mt-2">..or when you make a mistake:</div>
                    <div class="mt-2"><img src="~/static/minesGameResources/minesGame-4.gif" /></div>
                    <div class="mt-2">Getting a small hint adds 10 seconds to the overall time. Getting a large hint opens up a bigger chunk of the field but adds 30 seconds to your overall time</div>
                    <div class="mt-2">Timed mode gives you a limited amount of time to solve the field. If time ran out before you found all mines -- boom! You lost. </div>
                    <div class="mt-2">You can pause the game, the timer will stop. You can resume the game later.</div>
                    <div class="mt-2">Informational panel shows your elapsed/remaining time, and shows how many mines are left to find.</div>
                    
                </div>
            </article>
        </div>       
    </div>
    <div class="m-6 container box">
        <div class="mb-2">
            <h2 class="is-size-2"><i class="fa-solid fa-chess-bishop mr-3"></i>Current game:</h2>
        </div>
        <div id="timerArea"><i class="fa-regular fa-clock mr-2"></i><span id="timerHeaderString"></span>: <div id="timerValue" style="min-height:60px;"></div></div>
        <div id="remainingMineCounterArea"><i class="fa-solid fa-asterisk mr-2 mt-3"></i><span id="minesLeft"></span> mine<span id="minesPluralOrSingular"></span> left</div>

        <div class="mt-6 container flex-direction-vertical mi-wi-300 is-hidden" id="scoreboardDiv">
            <div>
                <h2><i class="fa-solid fa-flag-checkered mr-3"></i>Scoreboard:</h2>
                <ol id="results" class="ml-3 mt-2"></ol>
            </div>
        </div>
    </div>
</div>

<script src="~/js/minesGame.js" type="text/javascript" language="javascript" />
