@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="notification is-primary mt-6">
    Software design patterns overview
</div>


<div class="content">
    <div class="container is-flex is-flex-direction-row is-justify-content-space-evenly mt-6">
        <div>
            <span class="is-uppercase has-text-weight-semibold">Creational</span>
            <div class="is-flex is-flex-direction-column is-justify-content-space-evenly">
                <div><a asp-area="" asp-page="/Creational/Factory-problem"><i class="fa-solid fa-industry mr-2"></i>Factory</a></div>
                <div><a asp-area="" asp-page="/Creational/Abstract-problem"><i class="fa-solid fa-cube"></i><i class="fa-solid fa-industry mr-2"></i>Abstract Factory</a></div>
                <div><a asp-area="" asp-page="/Creational/Builder-problem"><i class="fa-solid fa-helmet-safety mr-2"></i>Builder</a><new-badge></new-badge></div>
                <div><a asp-area="" asp-page="/Creational/Prototype"><i class="fa-regular fa-clone mr-2"></i>&nbsp;Prototype</a><new-badge></new-badge></div>
                <div><a asp-area="" asp-page="/Creational/Singleton"><i class="fa-solid fa-atom mr-2"></i>&nbsp;Singleton</a><new-badge></new-badge></div>

            </div>
        </div>
        <div>
            <span class="is-uppercase has-text-weight-semibold">Structural</span><div class="is-flex is-flex-direction-column is-justify-content-space-evenly">
                <div><a asp-area="" asp-page="/Structural/Adapter"><i class="fa-solid fa-plug mr-2"></i>Adapter</a><new-badge></new-badge></div>
                <div><a asp-area="" asp-page="/Structural/Bridge"><i class="fa-solid fa-left-right mr-2"></i>Bridge</a><new-badge></new-badge></div>
                <div><a asp-area="" asp-page="/Structural/Composite"><i class="fa-solid fa-magnifying-glass-arrow-right mr-2"></i>Composite</a><new-badge></new-badge></div>
                <div><a asp-area="" asp-page="/Structural/Decorator"><i class="fa-solid fa-chart-line mr-2"></i>Decorator</a><new-badge></new-badge></div>
                <div><a asp-area="" asp-page="/Structural/Facade"><i class="fa-solid fa-igloo mr-2"></i>Facade</a><new-badge></new-badge></div>
                @*<div><a asp-area="" asp-page="/Structural/Flyweight"><i class="fa-solid fa-bowl-rice mr-2"></i>Flyweight</a><new-badge></new-badge></div>*@
                <div>Flyweight</div><div>Proxy</div>
            </div>
        </div>
        <div>
            Behavioral<div class="is-flex is-flex-direction-column is-justify-content-space-evenly">
                <div>Chain of Responsibility</div>
                <div>Command</div><div>Iterator</div><div>...</div>
            </div>
        </div>
    </div>
</div>
@*
    <bottom-nav next-icon1="fa-solid fa-industry"
    next-icon2="fa-solid fa-anchor"
    next-link="Creational|Factory-solution"
    next-name="Some other Name Pattern"></bottom-nav>

    <br />
    <br />
    <bottom-nav next-icon1="fa-solid fa-archway"
    next-link="Creational|Abstract-problem"
    next-name="Something here too"></bottom-nav>*@