@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <!-- solid style -->
    <i class="fa-solid fa-bed"></i>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div class="container">
        <div class="notification is-primary">
            This container is <strong>centered</strong> on desktop and larger viewports.
        </div>


    </div>
</div>
<div class="container is-flex is-flex-direction-row is-justify-content-space-evenly">
    <div>
        Creational
        <div class="is-flex is-flex-direction-column is-justify-content-space-evenly">
            <div>a</div>
            <div>b</div><div>c</div>
        </div>
    </div>
    <div>
        2<div class="is-flex is-flex-direction-column is-justify-content-space-evenly">
            <div>c</div>
            <div>d</div><div>e</div>
        </div>
    </div>
    <div>
        3<div class="is-flex is-flex-direction-column is-justify-content-space-evenly">
            <div>f</div>
            <div>g</div><div>h</div>
        </div>
    </div>
</div>
