@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="notification is-primary mt-6">
    Software design patterns overview
</div>


<div class="content">
    <div class="container is-flex is-flex-direction-row is-justify-content-space-evenly mt-6">
        <div>
            <span class="is-uppercase has-text-weight-semibold">Creational</span>
            <div class="is-flex is-flex-direction-column is-justify-content-space-evenly">
                <div><new-badge></new-badge><a asp-area="" asp-page="/Creational/Factory-problem"><i class="fa-solid fa-industry mr-2"></i>Factory</a></div>
                <div><new-badge></new-badge><a asp-area="" asp-page="/Creational/Abstract-problem"><i class="fa-solid fa-cube"></i><i class="fa-solid fa-industry mr-2"></i>Abstract Factory</a></div>
                <div><new-badge></new-badge><a asp-area="" asp-page="/Creational/Builder-problem"><i class="fa-solid fa-helmet-safety mr-2"></i>Builder</a></div>
                <div><new-badge></new-badge><a asp-area="" asp-page="/Creational/Prototype"><i class="fa-regular fa-clone mr-2"></i>&nbsp;Prototype</a></div>
                <div><new-badge></new-badge><a asp-area="" asp-page="/Creational/Singleton"><i class="fa-solid fa-atom mr-2"></i>&nbsp;Singleton</a></div>

            </div>
        </div>
        <div>
            <span class="is-uppercase has-text-weight-semibold">Structural</span><div class="is-flex is-flex-direction-column is-justify-content-space-evenly">
               <div><new-badge></new-badge><a asp-area="" asp-page="/Structural/Adapter"><i class="fa-solid fa-plug mr-2"></i>Adapter</a></div>
               <div>Adapter</div> 
               <div>Bridge</div><div>Composite</div><div>...</div>
            </div>
        </div>
        <div>
            Behavioral<div class="is-flex is-flex-direction-column is-justify-content-space-evenly">
                <div>Chain of Responsibility</div>
                <div>Command</div><div>Iterator</div><div>...</div>
            </div>
        </div>
    </div>
</div>
@*
<bottom-nav next-icon1="fa-solid fa-industry"
            next-icon2="fa-solid fa-anchor"
            next-link="Creational|Factory-solution"
            next-name="Some other Name Pattern"></bottom-nav>

<br />
<br />
<bottom-nav next-icon1="fa-solid fa-archway"
            next-link="Creational|Abstract-problem"
            next-name="Something here too"></bottom-nav>*@