@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="notification is-primary mt-6">
    Software design patterns overview
</div>



<div class="container is-flex is-flex-direction-row is-justify-content-space-evenly mt-6">
    <div>
        <span class="is-uppercase has-text-weight-semibold">Creational</span>
        <div class="is-flex is-flex-direction-column is-justify-content-space-evenly">
            <div><a class="navbar-item" asp-area="" asp-page="/Creational/Factory-problem"><i class="fa-solid fa-industry"></i>&nbsp;Factory&nbsp;<i class="fa-solid fa-square-plus has-text-primary"></i></a></div>
            <div><a class="navbar-item" asp-area="" asp-page="/Creational/Abstract-problem"><i class="fa-solid fa-cube"></i><i class="fa-solid fa-industry"></i>&nbsp;Abstract Factory&nbsp;<i class="fa-solid fa-square-plus has-text-primary"></i></a></div>
            <div><a class="navbar-item" asp-area="" asp-page="/Creational/Builder-problem"><i class="fa-solid fa-wrench"></i>&nbsp;Builder</a></div>
            <div><a class="navbar-item" asp-area="" asp-page="/Index"><i class="fa-solid"></i>&nbsp;Prototype</a></div>
            <div><a class="navbar-item" asp-area="" asp-page="/Index"><i class="fa-solid"></i>&nbsp;Singleton</a></div>

        </div>
    </div>
    <div>
        <span class="is-uppercase has-text-weight-semibold">Structural</span><div class="is-flex is-flex-direction-column is-justify-content-space-evenly">
            <div>Adapter</div>
            <div>Bridge</div><div>Composite</div><div>...</div>
        </div>
    </div>
    <div>
        Behavioral<div class="is-flex is-flex-direction-column is-justify-content-space-evenly">
            <div>Chain of Responsibility</div>
            <div>Command</div><div>Iterator</div><div>...</div>
        </div>
    </div>
</div>
