@page "{pattern?}"
@model DesignPatternsRepo1.Pages.RandomModel
@{
    List<SoftwareDesignPattern> patterns = ModelInitializer.GetAllPatterns();
    SoftwareDesignPattern p = new SoftwareDesignPattern("fac");
    if (Model.Pattern != null)
    {
        p = patterns.Where(x => x.Name.ToLower().StartsWith(Model.Pattern.ToLower())).FirstOrDefault();
    }
    if (p == null)
    {
        var rnd = new Random();
        p = patterns[rnd.Next(patterns.Count)];
    }
}

<div class="content">
    <div class="container is-align-content-center mt-5">
        <div>
            <pattern-card software-design-pattern="@p" a="false"></pattern-card>
        </div>
    </div>
</div>