@page
@model DesignPatternsRepo1.Pages.TemplateModel
@{
}


<h1 class="title is-1 is-spaced"><i class="fa-solid fa-ICON mr-2"></i>Command</h1>
<h2 class="subtitle">SUBHEADER</h2>
<div class="content">  

<div class="block"></div> 
<pre><code class="language-ts"></code></pre>
<div class="block"></div> 
<pre><code class="language-ts"></code></pre>
<div class="block"></div> 
<pre><code class="language-ts"></code></pre>
<div class="block"></div> 
<pre><code class="language-ts"></code></pre>
<div class="block"></div> 
<pre><code class="language-ts"></code></pre>
<div class="block"></div> 
<pre><code class="language-ts"></code></pre>
<div class="block"></div> 
<pre><code class="language-ts"></code></pre>
<div class="block"></div> 
<pre><code class="language-ts"></code></pre>
<div class="block"></div> 
<pre><code class="language-ts"></code></pre>
<div class="block"></div> 
<pre><code class="language-ts"></code></pre>
<div class="block"></div> 
<pre><code class="language-ts"></code></pre>
<div class="block"></div> 
<pre><code class="language-ts"></code></pre>
<div class="block"></div> 
<pre><code class="language-ts"></code></pre>
<div class="block"></div> 
<pre><code class="language-ts"></code></pre>
<div class="block"></div> 
<pre><code class="language-ts"></code></pre>
<div class="block"></div> 
<pre><code class="language-ts"></code></pre>
<div class="block"></div> 
<pre><code class="language-ts"></code></pre>
<div class="block"></div> 
<pre><code class="language-ts"></code></pre>

</div>

<bottom-nav next-pointer-word="Next"
            next-icon1="fa-solid fa-ICON"
            next-icon3="fa-solid fa-arrow-right"
            next-link="FOLDER|PAGE"
            next-name="TBA"></bottom-nav>
<script>hljs.highlightAll();</script>