@page
@model DesignPatternsRepo1.Pages.Test1Model
@{
}


<div id="div1">Testing Shmesting</div>

<div id="tbl"></div>
<br />
<br />
<table>
    <tr><td>1-1</td><td>1-2</td></tr>
    <tr><td>2-1</td><td>2-2</td></tr>
</table>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById('div1').addEventListener('click', one);
        createTable();
        document.querySelectorAll('#field td').forEach(el => el.addEventListener('click', function () {
            let row = el.getAttribute('data-row');
            let col = el.getAttribute('data-col');
            console.log('row-col:', row + ' - ' + col);
        }));
    });

    function one() {
        alert('Hi!');
    }

    function createTable() {
        let mineCount = 10;

        const rows = 10;
        let container = document.getElementById("tbl");
        let tbl = document.createElement('table');
        tbl.setAttribute('id', 'field');
        let tbody = document.createElement('tbody')
        for (let i = 0; i < rows; i++) {
            let tr = document.createElement('tr');
            for (let j = 0; j < rows; j++) {
                let td = document.createElement('td');
                td.setAttribute('data-row', i);
                td.setAttribute('data-col', j);
                let nodeContent = i + ' - ' + j;
                if (mineCount > 0) {
                    let rnd = Math.floor(Math.random() * 10);
                    if (rnd == 1) {
                        nodeContent += ' X';
                        mineCount--;
                    }
                    td.appendChild(document.createTextNode(nodeContent));
                    tr.appendChild(td);
                }
                tbody.appendChild(tr);
            }
            tbl.appendChild(tbody);
            container.appendChild(tbl);
        }

        console.log('mineCount: ', mineCount);
    }

</script>

<style>
    td {
        border: 1px solid red;
        padding: 1px;
        margin: 3px;
    }
</style>