@page
@model DesignPatternsRepo1.Pages.Behavioral.ObserverModel
@{
}

<h1 class="title is-1 is-spaced"><i class="fa-solid fa-eye mr-2"></i>Observer</h1>
<h2 class="subtitle">Providing a choice for entities to subscribe/unsubscribe from notification.</h2>
<div class="content">  

<div class="block"><a asp-area="" asp-page="/Behavioral/Mediator"><i class="fa-solid fa-tower-cell mr-2"></i>Mediator</a> pattern provides a centralized system
    of notifications to entities. All communications go through that one single point. That pattern automatically assumes conversation participants,
    a choice of who gets what messages is not the focus of Mediator. It is the focus of observer though. Observer provides an opportunity for subscribers to
    select the messages that they are listening to. 
    </div> 
<div class="block">In the following example discusses response to three types of emergency events: Fire, Party, and Parade. Police does not care about fires, 
    firemen don't bother with parties, and ambulances are too busy to participate in parades. The code below sets up a notification system that allows each
    of the services to unsubscribe from notifications they don't need to respond to and then resubscribe again after.
</div> 
<div class="block"></div> 
<pre><code class="language-ts"></code></pre>
<div class="block"></div> 
<pre><code class="language-ts"></code></pre>
<div class="block"></div> 
<pre><code class="language-ts"></code></pre>
<div class="block"></div> 
<pre><code class="language-ts"></code></pre>
<div class="block"></div> 
<pre><code class="language-ts"></code></pre>
<div class="block"></div> 
<pre><code class="language-ts"></code></pre>
<div class="block"></div> 
<pre><code class="language-ts"></code></pre>
<div class="block"></div> 
<pre><code class="language-ts"></code></pre>
<div class="block"></div> 
<pre><code class="language-ts"></code></pre>
<div class="block"></div> 
<pre><code class="language-ts"></code></pre>
<div class="block"></div> 
<pre><code class="language-ts"></code></pre>
<div class="block"></div> 
<pre><code class="language-ts"></code></pre>
<div class="block"></div> 
<pre><code class="language-ts"></code></pre>
<div class="block"></div> 
<pre><code class="language-ts"></code></pre>
<div class="block"></div> 
<pre><code class="language-ts"></code></pre>
<div class="block"></div> 
<pre><code class="language-ts"></code></pre>

</div>

<bottom-nav next-pointer-word="Next"
            next-icon1="fa-solid fa-ICON"
            next-icon3="fa-solid fa-arrow-right"
            next-link="FOLDER|PAGE"
            next-name="TBA"></bottom-nav>
<script>hljs.highlightAll();</script>