<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/729d7e0c6a.js" crossorigin="anonymous"></script>
    <title>@ViewData["Title"]</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/darkly/bulmaswatch.min.css">
    @*<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css">*@
    <link class="codestyle" rel="stylesheet" href="~/lib/highlight.js/styles/stackoverflow-dark.min.css" />
    <link rel="stylesheet" href="~/DesignPatternsRepo1.styles.css" asp-append-version="true" />
    <script src="~/lib/highlight.js/highlight.min.js"></script>
    <script src="~/lib/highlight.js/languages/typescript.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                @* <a class="navbar-item" href="https://bulma.io">
                    <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
                    </a>*@

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" asp-area="" asp-page="/Index"><i class="fa-solid fa-house-user"></i>&nbsp;Home</a>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <span class="navbar-link">
                            <i class="fa-solid fa-shapes"></i>&nbsp;Creational
                        </span>

                        <div class="navbar-dropdown">

                            <a class="navbar-item" asp-area="" asp-page="/Creational/Factory-problem"><i class="fa-solid fa-industry mr-2"></i>Factory</a>
                            <a class="navbar-item" asp-area="" asp-page="/Creational/Abstract-problem"><i class="fa-solid fa-cube mr-1"></i><i class="fa-solid fa-industry mr-2"></i>Abstract Factory</a>
                            <a class="navbar-item" asp-area="" asp-page="/Creational/Builder-problem"><i class="fa-solid fa-helmet-safety mr-2"></i>Builder</a>
                            <a class="navbar-item" asp-area="" asp-page="/Creational/Prototype"><i class="fa-regular fa-clone mr-2"></i>Prototype</a>
                            <a class="navbar-item" asp-area="" asp-page="/Creational/Singleton"><i class="fa-solid fa-atom mr-2"></i>Singleton</a>


                            @*<hr class="navbar-divider">*@

                        </div>
                    </div>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <span class="navbar-link">
                            <i class="fa-solid fa-vihara"></i>&nbsp;Structural
                        </span>

                        <div class="navbar-dropdown">

                            <a class="navbar-item" asp-area="" asp-page="/Structural/Adapter"><i class="fa-solid fa-plug mr-2"></i>Adapter</a>
                            <a class="navbar-item" asp-area="" asp-page="/Structural/Bridge"><i class="fa-solid fa-left-right mr-2"></i>Bridge</a>
                            <a class="navbar-item" asp-area="" asp-page="/Structural/Composite"><i class="fa-solid fa-magnifying-glass-arrow-right mr-2"></i>Composite</a>
                            <a class="navbar-item" asp-area="" asp-page="/Structural/Decorator"><i class="fa-solid fa-chart-line mr-2"></i>Decorator</a>
                            <a class="navbar-item" asp-area="" asp-page="/Structural/Facade"><i class="fa-solid fa-igloo mr-2"></i>Facade</a>
                            <a class="navbar-item" asp-area="" asp-page="/Structural/Flyweight"><i class="fa-solid fa-bowl-rice mr-2"></i>Flyweight</a>
                            <a class="navbar-item" asp-area="" asp-page="/Structural/Proxy"><i class="fa-solid fa-door-open mr-2"></i>Proxy</a>

                        </div>
                    </div>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                        </div>
                    </div>
                </div>
            </div>
        </nav>

    </header>

    <div class="container is-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        &copy; 2022
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>