<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/729d7e0c6a.js" crossorigin="anonymous"></script>
    <title>@ViewData["Title"]</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css">
    <link rel="stylesheet" href="~/DesignPatternsRepo1.styles.css" asp-append-version="true" />
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="https://bulma.io">
                    <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" asp-area="" asp-page="/Index"><i class="fa-solid fa-house-user"></i>&nbsp;Home</a>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <span class="navbar-link">
                            <i class="fa-solid fa-shapes"></i>&nbsp;Creational
                        </span>

                        <div class="navbar-dropdown">

                            <a class="navbar-item" asp-area="" asp-page="/Creational/Factory-problem"><i class="fa-solid fa-industry"></i>&nbsp;Factory</a>
                            <a class="navbar-item" asp-area="" asp-page="/Creational/Abstract-problem"><i class="fa-solid fa-cube"></i><i class="fa-solid fa-industry"></i>&nbsp;Abstract Factory</a>
                            <a class="navbar-item" asp-area="" asp-page="/Creational/Builder"><i class="fa-solid fa-wrench"></i>&nbsp;Builder</a>
                            <a class="navbar-item" asp-area="" asp-page="/Index"><i class="fa-solid"></i>&nbsp;Prototype</a>
                            <a class="navbar-item" asp-area="" asp-page="/Index"><i class="fa-solid"></i>&nbsp;Singleton</a>


                            @*<hr class="navbar-divider">*@

                        </div>
                    </div>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                        </div>
                    </div>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
     &copy; 2022
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>