@page
@model DesignPatternsRepo1.Pages.Creational.AbstractModel
@{
}


<h1 class="title is-1 is-spaced">Abstract factory ye</h1>
<h2 class="subtitle">A pattern to assemble sets of related items, such as furniture sets, screwdrivers, avengers.</h2>