@page
@model DesignPatternsRepo1.Pages.Creational.FactoryModel
@{
}
<script>hljs.highlightAll();</script>

<h1 class="title is-1 is-spaced"><i class="fa-solid fa-industry"></i>Factory Pattern &mdash; Problem</h1>
<div class="content">

<p>Example code:</p>
<br /><br />
<pre><code class="hljs language-ts">
namespace WhoNeedsAFactory {
  class ToyCar {
    whatIsIt(): void {
      console.log("this is a toy car");
    }

    play(): void {
      console.log("vroom!!");
    }
  }

  class ToyProductionPlant {
    makePresents(): ToyCar[] {
      let carA = new ToyCar();
      let carB = new ToyCar();
      let carC = new ToyCar();
      return new Array(carA, carB, carC);
    }

    makeAToy(): ToyCar {
      return new ToyCar();
    }
  }

  let tpp = new ToyProductionPlant();
  let car = tpp.makePresents();
  car.forEach((x) => x.play());
}

//output:
vroom!!
vroom!!
vroom!!
  </code>
</pre>
<p>The code above demonstrates how a simple toy factory can make the only toy they know about -- a car. But what if they learned to create other toys?</p>
</div>
<bottom-nav 
next-pointer-word="Solution"
next-icon1="fa-solid fa-industry" 
next-icon3="fa-solid fa-arrow-right"
next-link="Creational|Factory-solution" 
next-name="Factory"></bottom-nav>