@page
@model DesignPatternsRepo1.Pages.Creational.FactoryModel
@{
}


<h1 class="title is-1 is-spaced">Factory Pattern ye</h1>
<h2 class="subtitle">A pattern used to differentiate between items that have something in common</h2>

<pre>Some code here</pre>

<p><code>Some other code right here</code></p>

<div class="highlight"><pre><code>Some more code right over here

    const a = () => return 'here';
</code></pre></div>